body{
    font-size: 25px;
    text-align: center;
    padding-top: 5em;
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/hand-holding-table-tennis-racket-and-bouncing-ping-pong-ball_rhwwu6flg_thumbnail-full01.png)



}