body{
    font-size: 25px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-image: url("https://i.pinimg.com/originals/64/03/23/64032308d86c5e5dd9eedc4e73683a9d.jpg"); 
    opacity: 0.7; 
}
#title{
    /* background-color: black; */
    color:black;
    text-align: center;
    padding-top: 3em;
    font-family: serif;
    font-size: 32px;
    font-weight: bold;
}
.col-md-5{
    
    font-family: serif;
    font-size: 32px;
    opacity: 3em;
    /* background-color: aquamarine; */


}

.col-md-7{
    color:black;
    font-family: serif;
    font-size: 32px;
    font-weight:
    /* background-color: chartreuse; */

}   
